include ./includes/head.pug
body
    include ./includes/sidebar.pug
    div(class='lg:pl-80')
        div.mx-auto(class='max-w-[22rem] sm:max-w-xl lg:max-w-3xl xl:max-w-6xl')
            include ./includes/nav.pug
            main.w-full.h-full.mt-10
                .w-full.h-max.rounded-md.shadow.bg-white.grid.place-content-center
                    ul.container.mb-40
                        li.box
                            span.line
                            div.ml-3.flex.flex-col.gap-4.justify-between(class="lg:flex-row")
                                p.font-bold.border-b.pb-2.mb-2.border-sky-400(class=" md:hidden") Variable Input
                                div.text-center.border.border-sky-400.rounded.p-2
                                    h1.font-bold Indeks #[br] Tinggi/Umur
                                    div 5.6 Kg
                                div.text-center.border.border-sky-400.rounded.p-2
                                    h1.font-bold Indeks #[br] Berat/Tinggi
                                    div 5.6 Kg
                                span.h-full
                                    span(class="absolute text-sm hidden md:block -left-[135px] font-bold -top-1") Variable Input 
                        li.box
                            span.line
                            div.ml-3
                                div.ml-3.flex.flex-col.gap-4.justify-between(class="lg:flex-row")
                                    p.font-bold.border-b.pb-2.mb-2.border-sky-400(class=" md:hidden") Fuzzifikasi
                                    div.text-center.border.border-sky-400.rounded.p-2
                                        h1.font-bold TB/U
                                        div 5.6 Kg
                                    div.text-center.border.border-sky-400.rounded.p-2
                                        h1.font-bold BB/TB
                                        div 5.6 Kg
                                    span.h-full
                                        span(class="absolute text-sm hidden md:block -left-[110px] font-bold -top-1") Fuzzifikasi
                        li.box
                            span.line
                            div.ml-3
                                p.font-bold.border-b.pb-2.mb-2.border-sky-400(class=" md:hidden") Implikasi MIN
                                div.flex.flex-col.gap-4.overflow-x-auto.max-h-60.p-4
                                    div= `R1 IF TB/U sangat pendek AND BB/TB gizi buruk THEN status = stunting`
                                    div= `R1 IF TB/U sangat pendek AND BB/TB gizi buruk THEN status = stunting`
                                    div= `R1 IF TB/U sangat pendek AND BB/TB gizi buruk THEN status = stunting`
                                    div= `R1 IF TB/U sangat pendek AND BB/TB gizi buruk THEN status = stunting`
                                    div= `R1 IF TB/U sangat pendek AND BB/TB gizi buruk THEN status = stunting`
                                    div= `R1 IF TB/U sangat pendek AND BB/TB gizi buruk THEN status = stunting`
                                    div= `R1 IF TB/U sangat pendek AND BB/TB gizi buruk THEN status = stunting`
                                    div= `R1 IF TB/U sangat pendek AND BB/TB gizi buruk THEN status = stunting`
                                    div= `R1 IF TB/U sangat pendek AND BB/TB gizi buruk THEN status = stunting`
                                    div= `R1 IF TB/U sangat pendek AND BB/TB gizi buruk THEN status = stunting`
                                    div= `R1 IF TB/U sangat pendek AND BB/TB gizi buruk THEN status = stunting`
                                    div= `R1 IF TB/U sangat pendek AND BB/TB gizi buruk THEN status = stunting`
                                    div= `R1 IF TB/U sangat pendek AND BB/TB gizi buruk THEN status = stunting`
                                    div= `R1 IF TB/U sangat pendek AND BB/TB gizi buruk THEN status = stunting`
                                    div= `R1 IF TB/U sangat pendek AND BB/TB gizi buruk THEN status = stunting`
                                    div= `R1 IF TB/U sangat pendek AND BB/TB gizi buruk THEN status = stunting`
                                span.h-full
                                    span(class="absolute text-sm hidden md:block -left-[130px] font-bold -top-1") Rules IF-THEN
                        li.box
                            span.line
                            div.ml-3
                                p.font-bold.border-b.pb-2.mb-2.border-sky-400(class=" md:hidden") Implikasi MIN
                                h1.font-bold Variable Input 
                                div Berat 
                                div 5.6 Kg
                                span.h-full
                                    span(class="absolute text-sm hidden md:block -left-[130px] font-bold -top-1") Implikasi MIN
                        li.box
                            span.line
                            div.ml-3
                                p.font-bold.border-b.pb-2.mb-2.border-sky-400(class=" md:hidden") Defuzzifikasi
                                h1.font-bold Variable Input 
                                div Berat 
                                div 5.6 Kg
                                span.h-full
                                    span(class="absolute text-sm hidden md:block -left-[130px] font-bold -top-1") Defuzzifikasi
script(src='/assets/js/event.js')