.in-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  margin-top: 2rem;

  .notes-container {
    display: flex;
    column-gap: 0.5rem;

    .btn {
      margin-top: 0;
    }

    textarea {
      width: 100%;
    }

    #notes-btn {
      width: 50px;
      height: 50px;
      display: grid;
      place-items: center;
    }
  }

  .notes-input {
    position: relative;
    margin-top: 1rem;
    text-align: justify;
    visibility: visible;
    opacity: 1;
    top: 0;
    transition: 0.3s ease-in;

    .head {
      padding: 0.5rem;
      border-bottom: 2px solid $grey;
      p {
        color: $secondary-color;
      }
    }

    ol.notes-view {
      margin: 0.5rem;
      margin-left: 1rem;
    }
  }
}
