.main {
  margin-left: 280px;
  width: calc(100vw - 280px);
  padding: 0.5rem 2rem;
  // transition: margin-left 0.4s;

  .nav {
    display: flex;
    height: 50px;
    margin: 0.5rem;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    padding: 0.5rem;

    .toggle {
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: bold;
    }

    &__profile {
      display: flex;
      align-items: center;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      padding: 0.2rem 0.5rem;
      border-radius: 0.3rem;
      position: relative;
      cursor: pointer;
      z-index: 100;

      &-name {
        margin-right: 0.5rem;
        font-weight: bold;
      }
      img {
        width: 32px;
        height: 32px;
      }
    }

    &__dropdown {
      width: max-content;
      border: 1px solid #bfbfbf;
      position: absolute;
      right: 0;
      top: 70px;
      width: 100%;
      padding: 0.5rem;
      background-color: #fff;
      border-radius: 0.3rem;
      visibility: hidden;
      display: grid;
      place-content: center;
      opacity: 0;
      transition: 0.2s;

      a {
        color: black;
      }

      .btn {
        padding: 0;
        cursor: pointer;
      }
    }

    .dropdown-show {
      opacity: 1;
      visibility: visible;
      top: 50px;
    }
  }

  .main-content {
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    padding: 1rem;
    position: relative;

    .add-container {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
@import "./report";
@import "./individualData";
@import "./individual-report";
@import "./member-form";
@import "./bbu";
