.main-content {
  .flex-row {
    justify-content: center;
  }
}

.add-container {
  margin: 1rem;
  padding: 2rem;
  width: max-content;
}

.flex-col {
  width: 100%;
  padding: 0.5rem;
}

.btn {
  margin-top: 1rem;
  padding: 0.3rem 1rem;
}
