.report-container {
  padding: 1rem;

  .btn {
    padding: 0.5rem 1rem;
  }

  .table {
    td:nth-child(3) {
      a {
        text-decoration: underline;
      }
    }

    img {
      width: 30px;
    }
  }
}
