<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Login Giziku</title>
  </head>
  <body id="login">
    <div class="login-container">
      <div class="box profile-container">
        <h1>Giziku</h1>
        <div class="desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur rerum
          quos dolorem expedita itaque veritatis autem fugit dolorum. At facilis
          nemo cupiditate ratione, possimus voluptate officiis sapiente.
          Accusamus architecto est dolorum molestiae aliquam harum nostrum.
        </div>
      </div>
      <div class="box form-container">
        <form class="form" action="/login" method="post">
          <div class="input-container">
            <input type="text" name="nik" id="nik" placeholder="NIK" />
          </div>
          <div class="input-container">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="password"
            />
          </div>

          <button type="submit" class="btn btn-primary fill">Masuk</button>
        </form>
        <hr />
        <div class="signup">
          <button id="modal" class="btn btn-secondary">Buat Akun Baru</button>
        </div>
      </div>
    </div>

    <div class="bg-modal">
      <div class="modal-content">
        <div id="close-modal" class="close">+</div>
        <div class="title">
          <h1>Daftar</h1>
          <p>masukkan data diri, dan daftar dengan cepat dan mudah.</p>
        </div>
        <div class="form input-group">
          <form action="/signup" method="post">
            <div class="flex-row mb-1">
              <input type="text" name="nik" id="nikInput" placeholder="Nik" />
            </div>
            <div class="flex-row mb-1">
              <div class="flex-col">
                <input
                  type="text"
                  name="motherName"
                  id="motherNameInput"
                  placeholder="Nama Ibu"
                />
              </div>
              <div class="flex-col">
                <input
                  type="text"
                  name="toddlerName"
                  id="toddlerName"
                  placeholder="Nama Balita"
                />
              </div>
            </div>

            <div class="flex-row mb-1">
              <div class="flex-col">
                <label for="placeOfBirth">Tempat Lahir Balita</label>
                <input type="text" name="placeOfBirth" id="placeOfBirth" />
              </div>
              <div class="flex-col">
                <label for="dateOfBirth">Tanggal Lahir Balita</label>
                <input type="date" name="dateOfBirth" id="dateOfBirth" />
              </div>
            </div>
            <div class="flex-row mb-1">
              <div class="flex-col">
                <label for="">Jenis Kelamin</label>
                <select name="gender" id="gender">
                  <option value="Laki - Laki">Laki - Laki</option>
                  <option value="Perempuan">Perempuan</option>
                </select>
              </div>
              <div class="flex-col flex-end">
                <input
                  type="text"
                  name="address"
                  id="address"
                  placeholder="alamat"
                />
              </div>
            </div>
            <div class="flex-row center">
              <button class="btn btn-secondary">Daftar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="/assets/js/event.js"></script>
  </body>
</html>
