@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body,
html {
  overflow-x: hidden;
}

body a {
  text-decoration: none;
}

body li {
  list-style-type: none;
}

.table table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #bfbfbf;
  padding: 0.3rem 0.5rem;
}

.table th {
  text-transform: uppercase;
}

.table td:nth-child(1) {
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #f3f3f3;
}

.table .action-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.action {
  font-size: 1.2rem;
  position: absolute;
  top: -40px;
  left: 0;
}

.action i {
  font-weight: bold;
}

.action a {
  text-decoration: none;
}

a {
  color: #000;
}

/** ==================== BUTTON ==================== **/
button {
  border: none;
}

.btn {
  padding: 0.2rem 0.5rem;
  text-align: center;
  background-color: #fff;
  border-radius: 0.3rem;
  font-weight: bold;
  font-size: 1rem;
  place-content: center;
}

.btn-primary {
  background-color: #d81b60;
  color: #fff;
}

.btn-primary:hover {
  background-color: #c2185b;
}

.btn-secondary {
  background-color: #03a9f4;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #039be5;
}

.btn-input {
  background-color: #f2f8ff;
  border-color: #03a9f4;
  color: #03a9f4;
}

.btn-input:hover {
  background-color: #c8dcf3;
}

.btn-warning {
  background-color: #fff3cd;
  color: #856404;
  border-color: #ffeeba;
}

.btn-warning:hover {
  background-color: #ffeeba;
}

.btn-danger {
  background-color: #f8d7da;
  color: #9d1c24;
  border-color: #f5c6cb;
}

.btn-danger:hover {
  background-color: #f5c6cb;
}

.btn-success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.btn-success:hover {
  background-color: #c3e6cb;
}

/** ==================== UTILITIES ==================== **/
.w-100 {
  width: 100%;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.p-05 {
  padding: 0.5rem;
}

.ml-05 {
  margin-left: 0.5rem;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/** ==================== INPUT ==================== **/
.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;
  padding: 0.3rem;
  border-radius: 0.3rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  border: 1px solid #dadde1;
}

.input-group input:focus,
.input-group textarea:focus {
  outline: 1px solid #03a9f4;
}

.input-group label {
  font-size: 0.8rem;
}

/** ==================== ACTION ==================== **/
.action {
  top: 20px;
  left: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #000;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

/** ==================== PROFILE ==================== **/
.card {
  width: 300px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.profile {
  width: 300px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: 2px solid #f0f0f0;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.profile img {
  width: 100px;
}

/** ==================== FOOTER ==================== **/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 2rem;
  margin-top: 50px;
  border-top: 1px solid #dadde1;
  padding-top: 1rem;
  height: 100px;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
  width: 100vw;
  position: fixed;
  background-color: #fff;
  top: 0;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.bar .logo {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

.bar .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
  margin-right: 1rem;
}

.bar .account__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f7fb;
  border: 1px solid #d7dbf0;
  margin: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.7rem;
}

.bar .account__bar p {
  margin-right: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.bar .account__bar img {
  width: 2rem;
}

.bar .account__menu {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  right: 1rem;
  bottom: -100px;
  border: 1px solid #d7dbf0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #f5f7fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bar .account__menu ul {
  list-style-type: none;
}

.bar .account__menu a {
  color: #2d1b60;
}

.bar .account__menu a:hover {
  font-weight: bold;
}

.bar .account__menu li {
  text-align: center;
}

.bar .account__menu .btn {
  color: #2d1b60;
  border: none;
  background-color: #f5f7fb;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0;
}

.bar .account__menu .btn:hover {
  font-weight: bold;
}

.bar .account .show-menu {
  bottom: -80px !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.profile-main {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
}

.profile-main__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-main__detail a {
  font-size: 1.5rem;
  color: #2d1b60;
}

.profile-main__detail img {
  width: 8rem;
}

.profile-main__detail .profile__name {
  font-weight: bold;
  margin-top: 1rem;
}

.profile-main .nutrition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 0;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.profile-main .nutrition__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
}

.profile-main .nutrition__info-logo {
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #2d1b60;
}

.profile-main .nutrition__info-details {
  margin-left: 0.8rem;
}

.profile-main .nutrition__info-details .title {
  font-size: 0.8rem;
}

.profile-main .nutrition__info-details .value {
  font-weight: bold;
}

.profile-main .nutrition__info:nth-child(1) {
  background-color: #f5f7fb;
  border: 1px solid #d7dbf0;
}

.profile-main .nutrition__info:nth-child(1) .nutrition__info-logo {
  background-color: #d7dbf0;
}

.profile-main .nutrition__info:nth-child(2) {
  background-color: #fef7f9;
  border: 1px solid #f6e3e7;
}

.profile-main .nutrition__info:nth-child(2) .nutrition__info-logo {
  background-color: #f6e3e7;
}

.profile-main .nutrition__info:nth-child(3) {
  background-color: #f6fbf5;
  border: 1px solid #d7f0db;
}

.profile-main .nutrition__info:nth-child(3) .nutrition__info-logo {
  background-color: #d7f0db;
}

.profile-main .notes {
  position: relative;
  background: #f5f7fb;
  border-radius: 0.5rem;
  border: 1px solid #d7dbf0;
}

.profile-main .notes__title {
  text-align: start;
  padding: 0.5rem;
  border-bottom: 1px solid #dadde1;
}

.profile-main .notes__item {
  padding: 1rem;
}

.profile-main .notes__item .note-container {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.profile-main .notes__item .note-container input {
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.profile-main .notes__item .note-container input[type="checkbox"] {
  opacity: 0;
}

.profile-main .notes__btn {
  position: absolute;
  right: 0;
  bottom: -70px;
  padding: 0.2rem 0.5rem;
  text-align: center;
  border: 1px solid #d7dbf0;
  border-radius: 0.3rem;
  font-size: 1rem;
  background-color: #f5f7fb;
  color: #2d1b60;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.profile-main .notes__btn:hover {
  background-color: #e0e5f0;
}

.profile-main .notes .notes__btn-show {
  bottom: -40px;
  opacity: 1;
}

.profile-main .notes .done {
  text-decoration: line-through;
  color: #999;
}

.chart__nutrition-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.chart__nutrition-up .box {
  width: 100%;
  border-radius: 0.5rem;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.chart__nutrition-up .box__title {
  font-weight: bold;
  padding: 1rem;
  border-bottom: 1px solid #dadde1;
}

.chart__nutrition-up .box__chart {
  padding: 1rem;
}

.chart__nutrition-up .box:nth-child(1) {
  border: 1px solid #d7dbf0;
  background-color: #f5f7fb;
}

.chart__nutrition-up .box:nth-child(2) {
  border: 1px solid #f6e3e7;
  background-color: #fef7f9;
}

.chart__nutrition-up .box:nth-child(3) {
  border: 1px solid #d7f0db;
  background-color: #f6fbf5;
}

.chart__big {
  padding: 2rem;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  margin: 1rem;
}

.chart__big .title {
  font-weight: bold;
  font-size: 2rem;
}

.sidebar {
  width: 300px;
  height: 100%;
  margin: 1rem;
  padding: 0 1.2rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  z-index: 100;
}

.sidebar__container {
  height: 96%;
  width: 100%;
  padding: 1rem;
  background: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.sidebar__logo {
  text-align: center;
}

.sidebar__logo span {
  font-weight: bold;
  font-size: 2rem;
}

.sidebar__profile {
  border: 2px solid #d7d7d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
  margin: 2rem 0;
}

.sidebar__profile img {
  width: 50px;
}

.sidebar__profile-details {
  margin-left: 1rem;
}

.sidebar__profile-details .name {
  font-weight: bold;
}

.sidebar__menu ul {
  list-style: none;
}

.sidebar__menu a {
  text-decoration: none;
  color: #fff;
}

.sidebar__menu .sidebar__link {
  background: #03a9f4;
  color: #fff;
  margin: 1rem 0;
  border-radius: 0.25rem;
}

.sidebar__menu .sidebar__link .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  border-radius: 5px;
}

.sidebar__menu .sidebar__link .link:hover {
  background-color: #039be5;
}

.sidebar__menu .sidebar__link .parent {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar__menu .sidebar__link .child {
  margin-top: 0.2rem;
  padding: 0.5rem;
  display: none;
}

.sidebar__menu .sidebar__link .child li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0.5rem 0;
}

.sidebar__menu .sidebar__link .child li a {
  width: 100%;
}

.sidebar__menu .sidebar__link .icon {
  font-size: 1.2rem;
}

.sidebar__menu .sidebar__link .active {
  display: block;
}

.main {
  margin-left: 280px;
  width: calc(100vw - 280px);
  padding: 0.5rem 2rem;
}

.main .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin: 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.5rem;
}

.main .nav .toggle {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}

.main .nav__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  position: relative;
  cursor: pointer;
  z-index: 100;
}

.main .nav__profile-name {
  margin-right: 0.5rem;
  font-weight: bold;
}

.main .nav__profile img {
  width: 32px;
  height: 32px;
}

.main .nav__dropdown {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid #bfbfbf;
  position: absolute;
  right: 0;
  top: 70px;
  width: 100%;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.3rem;
  visibility: hidden;
  display: -ms-grid;
  display: grid;
  place-content: center;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main .nav__dropdown a {
  color: black;
}

.main .nav__dropdown .btn {
  padding: 0;
  cursor: pointer;
}

.main .nav .dropdown-show {
  opacity: 1;
  visibility: visible;
  top: 50px;
}

.main .main-content {
  background: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  padding: 1rem;
  position: relative;
}

.main .main-content .add-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.report-container {
  padding: 1rem;
}

.report-container .btn {
  padding: 0.5rem 1rem;
}

.report-container .table td:nth-child(3) a {
  text-decoration: underline;
}

.report-container .table img {
  width: 30px;
}

.in-container {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  margin-top: 2rem;
}

.in-container .notes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.in-container .notes-container .btn {
  margin-top: 0;
}

.in-container .notes-container textarea {
  width: 100%;
}

.in-container .notes-container #notes-btn {
  width: 50px;
  height: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.in-container .notes-input {
  position: relative;
  margin-top: 1rem;
  text-align: justify;
  visibility: visible;
  opacity: 1;
  top: 0;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.in-container .notes-input .head {
  padding: 0.5rem;
  border-bottom: 2px solid #dadde1;
}

.in-container .notes-input .head p {
  color: #03a9f4;
}

.in-container .notes-input ol.notes-view {
  margin: 0.5rem;
  margin-left: 1rem;
}

.individual-report .act {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.individual-report .state-done {
  text-decoration: line-through;
  color: #999;
}

.individual-report .table-container {
  width: 800px;
  overflow-y: auto;
}

.individual-report table {
  width: 800px;
}

.individual-report table th {
  font-size: 0.9rem;
}

.individual-report table tbody {
  display: block;
  height: 300px;
  overflow-y: auto;
}

.individual-report table tbody::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.individual-report table tbody::-webkit-scrollbar-track {
  background: #fff;
}

.individual-report table tbody::-webkit-scrollbar-thumb {
  background: #2d1b60;
  border-radius: 14px;
}

.individual-report table tbody::-webkit-scrollbar-thumb:hover {
  background: #2d1b60;
}

.individual-report table thead {
  width: calc(100% - 1rem);
}

.individual-report table thead,
.individual-report table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.individual-report table th.no,
.individual-report table td.no {
  width: 40px;
}

.individual-report table th.weight,
.individual-report table th.height,
.individual-report table th.age,
.individual-report table td.weight,
.individual-report table td.height,
.individual-report table td.age {
  width: 80px;
}

.individual-report table th.month,
.individual-report table td.month {
  width: 120px;
}

.individual-report table th.notes,
.individual-report table td.notes {
  width: 250px;
}

.individual-report table td {
  text-align: center;
}

.individual-report table td ol {
  margin-left: 1rem;
  text-align: left;
  font-size: 0.9rem;
}

.chart-section {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.chart-section .chart-box {
  border-radius: 0.5rem;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #dadde1;
  width: 100%;
}

.chart-section .chart-box .title {
  border-bottom: 1px solid #dadde1;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.chart-section .chart-box .chart {
  padding: 0.5rem;
}

.chart-section .chart-box p {
  margin-bottom: 0.5rem;
}

.main-content .flex-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-container {
  margin: 1rem;
  padding: 2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.flex-col {
  width: 100%;
  padding: 0.5rem;
}

.btn {
  margin-top: 1rem;
  padding: 0.3rem 1rem;
}

.antro td {
  text-align: center;
}

.antro td:nth-child(2),
.antro td:nth-child(8) {
  background-color: #e53935;
}

.antro td:nth-child(4),
.antro td:nth-child(6) {
  background-color: #fdd835;
}

.antro td:nth-child(5) {
  background-color: #aed581;
}

.antro td:nth-child(3),
.antro td:nth-child(7) {
  background-color: #ef5350;
}

.antro .btn {
  margin-top: 0;
}

.setting-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.setting {
  margin-top: 100px;
  width: 500px;
  position: relative;
}

.setting .action {
  left: 0;
}

.select-img {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.select-img i {
  font-size: 2rem;
  cursor: pointer;
}

.select-img i:hover {
  font-weight: bold;
}

.select-img img {
  width: 100px;
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.login-container .box {
  padding: 1.5rem;
  width: 400px;
}

.login-container .profile-container {
  width: 600px;
}

.login-container .profile-container h1 {
  font-size: 4rem;
  color: #d81b60;
}

.login-container .profile-container .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.login-container .profile-container .img img {
  width: 150px;
}

.login-container .form-container {
  border-radius: 0.5rem;
  background-color: #fff;
  border: 2px solid #dedede;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-container .form-container .desc {
  text-align: justify;
}

.login-container .form-container .btn {
  padding: 0.8rem;
}

.login-container .form-container .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.login-container .form-container .input-container label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.login-container .form-container .input-container input {
  font-size: 1.2rem;
  padding: 0.4rem;
  border-radius: 0.3rem;
  border: 2px solid #dedede;
}

.login-container .form-container .input-container input:focus {
  outline: 1px solid #d81b60;
  caret-color: #d81b60;
}

.login-container hr {
  margin: 2rem 0;
  border: 1px solid #dedede;
}

.login-container .fill {
  width: 100%;
  text-align: center;
}

.login-container .signup {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bg-modal .modal-content {
  width: 450px;
  background-color: #fff;
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.bg-modal .modal-content .title {
  border-bottom: 1px solid #dadde1;
  margin-bottom: 1rem;
  padding: 1rem;
}

.bg-modal .modal-content .title p {
  color: #606770;
}

.bg-modal .modal-content .form {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-modal .modal-content .form input,
.bg-modal .modal-content .form select {
  border: 1px solid #dadde1;
  background-color: #f5f6f7;
}

.bg-modal .modal-content .form label {
  font-size: 0.8rem;
  color: #606770;
}

.bg-modal .modal-content .form select:focus {
  outline: #dadde1;
}

.bg-modal .modal-content .form .flex-row {
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.bg-modal .modal-content .form .flex-col {
  padding: 0;
}

.bg-modal .modal-content .form .btn {
  padding: 0.5rem 4rem;
  margin-bottom: 1rem;
}

.bg-modal .modal-content .form .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-modal .modal-content .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 2rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.bg-modal .modal-content .close:hover {
  color: #555;
}

.show-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#body {
  background: #f2f8ff;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% auto;
      grid-template-columns: 30% auto;
  margin: 0 1rem;
  margin-top: 100px;
}

#menu-toggle {
  display: none;
}

.show {
  left: 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
  background: rgba(255, 255, 255, 0.5);
}

.overlay label {
  display: block;
  height: 100%;
  width: 100%;
}

.ml-5 {
  margin-left: 0.5rem;
}

@media only screen and (max-width: 1224px) {
  .container {
    -ms-grid-columns: 30% auto;
        grid-template-columns: 30% auto;
  }
  /*================= admin =================*/
  .sidebar {
    left: -298px;
    z-index: 30;
  }
  .main {
    width: 100vw;
    margin-left: 0;
  }
  #menu-toggle:checked ~ .sidebar {
    left: 0;
  }
  #menu-toggle:checked ~ .overlay {
    display: block;
    text-align: right;
  }
  .chart-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1rem;
  }
  .table-container {
    width: 600px !important;
  }
}

@media screen and (max-width: 1000px) {
  .table-container {
    width: 500px !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .bar {
    width: 100%;
    position: fixed;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    left: 0;
    top: 0;
    padding: 0 0.5rem;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .bar .account,
  .bar .logo {
    margin: 0;
  }
  .container {
    margin-top: 35px;
  }
  .container .profile {
    margin-top: 100px;
  }
  .nutrition__info-details {
    font-size: 0.8rem;
  }
  .chart__nutrition-up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1rem;
  }
  /*========= input ========*/
  .input-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .in-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .in-container .profile {
    width: 100% !important;
    margin-bottom: 1rem;
  }
  .in-container .table-container {
    width: 450px;
  }
  .chart-section .title h3,
  .chart-section .title p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 385px) {
  .nutrition__info {
    width: 100%;
    margin: 0.1rem;
  }
  .nutrition__info-logo {
    display: none !important;
  }
  .chart-section .title h3,
  .chart-section .title p {
    font-size: 0.6rem;
  }
  .table-container {
    width: 220px !important;
  }
  .in-container .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */