@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  body {
    @apply bg-white text-gray-700;
  }

  .icon {
    @apply relative  before:absolute before:-top-8 before:-left-2 before:px-1 before:rounded-sm;
  }

  .sidebar {
    @apply w-80
        fixed
        transform
        transition
        duration-200
        ease-in-out
        z-20
        inset-0
        bg-gradient-to-b from-white to-blue-50
        px-4;
  }

  .modal {
    @apply w-80
    sm:w-96
    h-96
    bg-white
    m-auto
    shadow
    z-30
    transform
    border
    rounded;
  }

  .indicator {
    @apply text-sm text-green-700 opacity-70 font-normal border rounded p-0.5 border-green-400 bg-green-300;
  }

  .link {
    @apply p-2 w-full flex items-center gap-4;
  }

  input,
  select,
  textarea {
    @apply caret-sky-300 border rounded p-1 focus:outline-1 focus:outline-sky-300;
  }

  table {
    @apply border-collapse table-fixed w-full;
  }

  thead {
    @apply my-2;
  }

  th {
    @apply border-y py-2 border-gray-200;
  }

  td {
    @apply border-t border-gray-200 py-4;
  }
}
