div#sidebar(class='lg:translate-x-0 lg:block sidebar -translate-x-full')
    a(href="/admin/") 
        div(class='font-bold text-xl text-center p-2 mt-3 tracking-wider text-sky-400') CEK STUNTING 
    ul(class='mx-auto w-full p-2 mt-10')
        li.link.group
            .rounded-full.w-8.h-8.bg-sky-100.grid.place-items-center(class='group-hover:opacity-100')
                svg.w-5.h-5.text-sky-500.opacity-60(class='group-hover:opacity-100' xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6')
            a.text-gray-700(class='group-hover:text-gray-900' href='/admin/') Dashboard
        li.group
            .flex.justify-between.items-center
                .link.group.flex.items-center.w-full
                    .rounded-full.w-8.h-8.bg-pink-100.grid.place-items-center(class='group-hover:opacity-100')
                        svg.w-5.h-5.text-pink-500.opacity-60(class='group-hover:opacity-100' xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13')
                    a.text-gray-700(class='group-hover:text-gray-900 group-hover:block' href='#') Standar Antropometri
                svg.h-5.w-5.transition.delay-100(xmlns='http://www.w3.org/2000/svg' class='group-hover:rotate-180' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7')
            .w-full.pl-4.border-l.ml-14.hidden.transition.duration-300.ease-in(class='group-hover:block')
                ul
                    li.py-1
                        a.text-gray-700(class='hover:text-gray-900' href='/admin/bbu') BB/U
                    li.py-1
                        a.text-gray-700(class='hover:text-gray-900' href='#') TB/U
                    li.py-1
                        a.text-gray-700(class='hover:text-gray-900' href='#') BB/PB
                    li.py-1
                        a.text-gray-700(class='hover:text-gray-900' href='#') BB/TB
        li.link.group
            .rounded-full.w-8.h-8.bg-green-100.grid.place-items-center(class='group-hover:opacity-100')
                svg.w-5.h-5.text-green-500.opacity-60(class='group-hover:opacity-100' xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z')
            a.text-gray-700(class='group-hover:text-gray-900' href='/admin/fuzzy') Fuzzy Tsukamoto
