<nav class="nav">
  <div id="nav-toggle" class="nav__toggle">
    <label for="menu-toggle">
      <i class="bx bx-menu toggle"></i>
    </label>
  </div>
  <div class="nav__profile dropdown">
    <div class="nav__profile-name dropdown"><%= activeMember.mothername %></div>
    <img
      src="<%= activeMember.imgsrc %>"
      alt=""
      class="dropdown nav__profile-img"
    />

    <div class="nav__dropdown">
      <ul>
        <li>
          <a href="/admin/profile"><i class="bx bxs-user"></i> Profile</a>
        </li>
        <li>
          <form action="/logout" method="post">
            <button class="btn"><i class="bx bx-log-out"></i> Keluar</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
