<nav class="nav">
  <div id="nav-toggle" class="nav__toggle">
    <label for="menu-toggle">
      <i class="bx bx-menu toggle"></i>
    </label>
  </div>
  <div class="nav__profile">
    <div class="nav__profile-name">Mentari</div>
    <img src="/assets/img/avataaars.png" alt="" class="nav__profile-img" />
  </div>
</nav>
