<input type="checkbox" name="" id="menu-toggle" />
<div class="overlay">
  <label for="menu-toggle"></label>
</div>

<div id="sidebar" class="sidebar">
  <div class="sidebar__container">
    <div class="sidebar__logo">
      <span>Giziku</span>
    </div>
    <div class="sidebar__profile">
      <img
        src="<%= activeMember.imgsrc %>"
        alt=""
        class="sidebar__profile-img"
      />
      <div class="sidebar__profile-details">
        <p class="name"><%= activeMember.mothername %></p>
        <p class="role"><%= activeMember.role %></p>
      </div>
    </div>
    <div class="sidebar__menu">
      <ul class="sidebar__menu-item">
        <li class="sidebar__link">
          <a href="/admin/" class="link">Data Kader</a>
        </li>
        <li class="sidebar__link">
          <a href="/admin/add-member" class="link">Tambah Kader</a>
        </li>
        <li class="sidebar__link">
          <div class="parent p-05">
            <a href="#">Standar Antropometri</a>
            <i class="p-icon bx bxs-chevron-down"></i>
          </div>

          <div class="child">
            <ul>
              <li><a href="/admin/bbu" class="link">BB/U</a></li>
              <li><a href="/admin/tbu" class="link">TB/U</a></li>
              <li><a href="/admin/bbpb" class="link">BB/PB</a></li>
              <li><a href="/admin/bbtb" class="link">BB/TB</a></li>
            </ul>
          </div>
        </li>
        <li class="sidebar__link">
          <a href="#" class="link">Fuzzy Tsukamoto</a>
        </li>
      </ul>
    </div>
  </div>
</div>
