<div id="sidebar" class="sidebar">
  <div class="sidebar__container">
    <div class="sidebar__logo">
      <span>Giziku</span>
    </div>
    <div class="sidebar__profile">
      <img
        src="/assets/img/avataaars.png"
        alt=""
        class="sidebar__profile-img"
      />
      <div class="sidebar__profile-details">
        <p class="name">Bunga</p>
        <p class="role">Admin</p>
      </div>
    </div>
    <div class="sidebar__menu">
      <ul class="sidebar__menu-item">
        <li class="sidebar__link">
          <a href="/admin/"><i class="bx bxs-report icon"></i>Report</a>
        </li>
        <li class="sidebar__link">
          <a href="/admin/add-member"
            ><i class="bx bx-add-to-queue icon"></i>Tambah Data</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
