nav.z-30.bg-white.p-4.px-10.flex.justify-between.shadow.sticky.inset-0.items-center.w-full
        h1.font-bold.text-xl.text-sky-400 CEK STUNTING
        div.relative
            img#profileMenu.cursor-pointer.w-10.h-10.rounded-full.border.border-sky-400(src=`https://avatars.dicebear.com/api/big-smile/${user.toddlername}.svg`, alt="profile picture")
            div#submenuProfile.hidden.absolute.top-14.right-0.w-max.h-max
                ul.bg-white.border.space-y-2.rounded
                    li
                        a.flex.items-center.py-2.px-8(class="hover:text-blue-400 hover:bg-gray-100" href="/setting")
                            svg(xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor")
                                path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z")
                                path(troke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z")
                            | Profile
                    li 
                        form(action="/logout", method="post") 
                            button.flex.items-center.py-2.px-8(class="hover:text-red-400 hover:bg-gray-100" href="/logout")
                                svg(xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor")
                                    path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1")
                                | Keluar