@media only screen and (max-width: 1224px) {
  .container {
    grid-template-columns: 30% auto;
  }

  /*================= admin =================*/
  .sidebar {
    left: -298px;
    z-index: 30;
  }

  .main {
    width: 100vw;
    margin-left: 0;
  }

  #menu-toggle:checked ~ .sidebar {
    left: 0;
  }

  #menu-toggle:checked ~ .overlay {
    display: block;
    text-align: right;
  }

  .chart-section {
    flex-direction: column;
    row-gap: 1rem;
  }

  .table-container {
    width: 600px !important;
  }
}

@media screen and (max-width: 1000px) {
  .table-container {
    width: 500px !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 100%;
  }

  .bar {
    width: 100%;
    position: fixed;
    align-items: center;
    background-color: #fff;
    left: 0;
    top: 0;
    padding: 0 0.5rem;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

    .account,
    .logo {
      margin: 0;
    }
  }

  .container {
    margin-top: 35px;
    .profile {
      margin-top: 100px;
    }
  }

  .nutrition__info-details {
    font-size: 0.8rem;
  }

  .chart__nutrition-up {
    flex-direction: column;
    row-gap: 1rem;
  }

  /*========= input ========*/

  .input-row {
    flex-direction: column;
  }

  .in-container {
    flex-direction: column;

    .profile {
      width: 100% !important;
      margin-bottom: 1rem;
    }

    .table-container {
      width: 450px;
    }
  }
  .chart-section {
    .title {
      h3,
      p {
        font-size: 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 385px) {
  .nutrition__info {
    width: 100%;
    margin: 0.1rem;
    &-logo {
      display: none !important;
    }
  }

  .chart-section {
    .title {
      h3,
      p {
        font-size: 0.6rem;
      }
    }
  }

  .table-container {
    width: 220px !important;
  }

  .in-container {
    .flex-row {
      flex-direction: column;
    }
  }
}
