.profile-main {
  background: $second-bg;
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: none;
  width: 100%;

  &__detail {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;

    a {
      font-size: 1.5rem;
      color: $secondary-text;
    }

    img {
      width: 8rem;
    }

    .profile__name {
      font-weight: bold;
      margin-top: 1rem;
    }
  }

  .nutrition {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    column-gap: 1rem;

    &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-radius: 0.5rem;
      padding: 0.2rem 0.5rem;

      &-logo {
        font-size: 1.5rem;
        width: 2rem;
        height: 2rem;
        display: grid;
        justify-items: center;
        align-items: center;
        border-radius: 50%;
        color: $secondary-text;
      }

      &-details {
        margin-left: 0.8rem;
        .title {
          font-size: 0.8rem;
        }
        .value {
          font-weight: bold;
        }
      }
    }

    &__info:nth-child(1) {
      background-color: $pale-blue;
      border: 1px solid $accent-blue;

      .nutrition__info-logo {
        background-color: $accent-blue;
      }
    }

    &__info:nth-child(2) {
      background-color: $pale-red;
      border: 1px solid $accent-red;
      .nutrition__info-logo {
        background-color: $accent-red;
      }
    }

    &__info:nth-child(3) {
      background-color: $pale-green;
      border: 1px solid $accent-green;
      .nutrition__info-logo {
        background-color: $accent-green;
      }
    }
  }

  .notes {
    position: relative;
    background: $pale-blue;
    border-radius: 0.5rem;
    border: 1px solid $accent-blue;
    &__title {
      text-align: start;
      padding: 0.5rem;
      border-bottom: 1px solid $grey;
    }

    &__item {
      padding: 1rem;
      .note-container {
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        input {
          cursor: pointer;
          height: 20px;
          width: 20px;
        }

        input[type="checkbox"] {
          opacity: 0;
        }
      }
    }

    &__btn {
      position: absolute;
      right: 0;
      bottom: -70px;
      padding: 0.2rem 0.5rem;
      text-align: center;
      border: 1px solid #d7dbf0;
      border-radius: 0.3rem;
      font-size: 1rem;
      background-color: #f5f7fb;
      color: $secondary-text;
      opacity: 0;
      transition: 0.2s;

      &:hover {
        background-color: #e0e5f0;
      }
    }

    .notes__btn-show {
      bottom: -40px;
      opacity: 1;
    }

    .done {
      text-decoration: line-through;
      color: #999;
    }
  }
}
