@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

$primary-color: #d81b60;
$primary-accent: #c2185b;
$secondary-color: #03a9f4;
$secondary-accent: #039be5;
$grey: #dadde1;

$main-bg: #fafafa;
$second-bg: #fff;
$pale-blue: #f5f7fb;
$pale-red: #fef7f9;
$pale-green: #f6fbf5;
$accent-blue: #d7dbf0;
$accent-red: #f6e3e7;
$accent-green: #d7f0db;
$main-text: #000000;
$secondary-text: #2d1b60;
$size: 300px;
